*{
	margin:0;
	padding:0;
}
 body{ 
 	margin: 0; 
 	background: linear-gradient(to bottom, #e3ecf4, #a4c7ea);  
 	font-family: Arial,sans-serif;
 	font-size: 14px;
 	color: #000;
}
.page{
	padding-bottom: 120px;
	box-sizing:border-box;
	position:relative;
	height: 1835px;
}
.top-panel{
	background-color: #ededed;
	height: 35px;
}

.top-panel__menu{
 	float: left; 
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.main_container{
	width: 960px;
	margin: 0 auto;
}
.menu{
	margin-top: 4px;
	padding: 0px;
} 
.menu_item{
 	display: inline-block;
 	margin-right: 20px;
}
.link{
	color: #222;
 	text-decoration: none;
}
.link:hover{
	color: #cd0000;
	text-decoration: underline;
}
/*.menu__link:hover{
 	text-decoration: underline;
}*/
.top-panel__search{
	float: right;
	margin-top: 7px;
}

.search__field{
 	width: 270px;
 	height: 18px;
 	float: left;
 	background-color: #d2d2d2;
 	font-size: 12px;
 	border: none;
}

.search__button{ 
	width: 25px; 
	height: 18px;
	border: none; 
	background: linear-gradient(to bottom, #ffc400, #ff9800); 
	border-radius: 0px 9px 9px 0px; 
}
.search__icon{
	margin: 2px 0px;
}

.basket{
	width: 220px;
	height: 65px;
	background: linear-gradient(to top, #ff9800, #ffc200);
	padding: 0px;
}
.header{
	margin-bottom: 30px;
}
.header__left{
	padding-top:8px;
	padding-right:21px;
	padding-bottom:19px;
	position:relative;
	float:left;
}
.header__right{
	position: relative;
    float: right;
}
.header__info{
	float: left;
    margin-right: 24px;
    margin-top: 16px;
    display: inline-block;
    width: 240px;
}
.info{
	color:#002a72;
	font-size:20px;
	text-decoration: none;
}
.phone__num{
	color:#fb9f18;
	font-size:40px;
	font-weight:700;
}
.adress{
	margin-top: 5px;
}
.header__basket{
	float: right;
	display: inline-block;
}
.basket:after{
	border-style: solid;
	border-width: 19px 110px 0 110px;
	border-color: #ff9700 transparent transparent transparent;
	border-style:solid;
	position: absolute;
	bottom:0;
}
.basket__name{
	text-align:center;
	color:#353743;
	font-size:30px;
}
.basket__enter{
	vertical-align: sub;
}
.basket__enter__check{
	font-size: 18px;
    text-align: center;
}
.services{
	height: 85px;
    background: linear-gradient(to top, #ff9800, #ffc500);
    border-radius: 30px;
    margin-bottom: 30px;
}
.service{
	float:left;
	box-sizing:border-box;
	display:inline-block;
	height:75px;
	width:180px;
	text-align:center;
	border-right: 1px solid #ffe17d; 
	border-left: 1px #b28300 solid; 
	border-bottom-color:transparent;
	border-top-color:transparent;
}
.service:first-child{
	border-left-color:transparent;
}

.service:last-child{
	border-right-color:transparent;
}

.service__icon{
	background-position:50%;
	width:100%;
	display: inline-block;
	background-repeat: no-repeat;
}
.service__name{
	font-size: 12px;
	font-weight: 700;
	display:block;
}
.icon{
	height: 59px;
	vertical-align: middle;
}
.1C__icon{
	background:url('../src/1c.png');
}
.accountant__icon{
	background-image:url('../src/accountant.png');
}
.shopequipment__icon{
	background-image:url('../src/shopequipment.png');
}
.software__icon{
	background-image:url('../src/software.png');

}
.itservice__icon{
	background-image:url('../src/itservise.png');
}


.productions{
	float:left;
	width:220px;
	background:linear-gradient(to top, #ff9600, #ffc600);
    border-radius:30px;
	padding:30px 15px;
	margin-right:20px;
	box-sizing:border-box;
}

.productions__list{
	line-height:2;
	list-style-type: none;
}


.productions__list ul{
	padding-left:30px;
	list-style-type: none;
}
.goods{
	width: 700px;
	height: 1320px;
	background-color:white;
	float: right;
	border-radius: 30px;
	margin-bottom: 110px;
	box-sizing:border-box; 
}
.goods__title{
	margin-left: 20px;
	padding-top: 20px;
}
.goods__title__name{
	font-size: 22px;
	font-weight: 700px;
	color:#002e79;
}

.products{
	float:right;
	width:700px;
	padding:20px;
	background-color:white;
	box-sizing:border-box;
	border-radius:30px;
	margin-bottom:110px;
}

.products__header{
	margin-bottom:30px;
}

.products__type{
	font-size:22px;
	color:#002e79;
	font-weight:700;
}

.product{
	vertical-align:top;
	width:200px;
	margin-right:26px;
	margin-bottom:35px;
	display:inline-block;
}

.product__wrapper{
	position:relative;
	text-align:center;
	height:130px;
	cursor:pointer;
}

.product:nth-child(3n)
{
	margin-right:0px;
}

.product__img{
	max-height:100%;
	max-width:100%;
}

.product__icon{
	position:absolute;
	bottom:0;
	right:5px;
	width:80px;
	height:80px;
}

.icon_stock{
	background-image:url(../src/stock.png);
}

.icon__leader{
	background-image:url(../src/leader.png);
}

.link_special:hover{
	color:#222;
}

.product__icon-stock{
	position:absolute;
    bottom:33px;
    right:28px;
}

.product__icon__leaders{
	position:absolute;
	width:45px;
    bottom:27px;
    right:22px;
	color:white; 
}

.product__name{
	color:#003280;
	text-decoration:underline;
}

.product__inner{
	margin-top:25px;
}

.product__price{
	margin-top: 8px;
	float:left;
	font-weight:700;
	font-size:18px;
	color:#fb9f18;
}

.product__add{
	float:right;
}

.product__add-icon{
	width:33px;
	height:26px;
}

.icon_busket-add{
	background-image:url(../src/add to basket.png);
}
.pagination{
	width: 247px;
	margin:0 auto;
}

.pagination__item{
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
}

.pagination__item:last-child{
	margin-right:0px;
}

.pagination__num-page{
	font-size:18px;
}

.pagination__item_active a{
	color:#003382;
}

.pagination__icon{
	width:15px;
	height:26px;
}
.icon_page-back{
	background-image:url(../src/page-back.png);
}

.icon_page-forward{
	background-image:url(../src/page-forward.png);
}
.footer{
	background-color:#cdcdcd;
	box-sizing:border-box;
	min-width:100%;
	height:115px;
	position:absolute;
	left:0;
	bottom:0;
	padding-top:30px;
	padding-bottom:20px;
	height:115px;
}

.footer__comp-information{
	margin-top:30px;
	margin-bottom: 25px;
	color:#584b3d;
}

.footer__trademark{
	float:left;
}

.footer__about{
	float:right;
}


/*	background-color: #ededed;
	height: 120px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing:border-box;
}
/*
}


}
.servise__link:hover{
	text-decoration: underline;
}




.footer{
	width: 100vw;
	height: 110px;
	background-color: #ededed;
	position: absolute;
	left: 0;
  	bottom: 0;
}
